<div class="data-entry-header">
  <h2><i class="icon-list-alt icon-white"></i> Recent Batches <a href="#batches" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
  </h2>
</div>
<p>Last 5 Batches created.</p>
<div id="batches" class="collapse in display-none">
	<table class="table">
		<tr>
			<th>Description</th>
			<th>User</th>
			<th>Samples</th>
		</tr>
		<% Batch.where(:restriction => ['All', current_user.role]).order('id desc').limit(5).each do |batch| %>
			<tr>
				<td><%= link_to truncate(batch.name, :length => 20) + '..', edit_batch_path(batch) %></td>
				<td><%= link_to User.find(batch.user_id).name.humanize , user_path(User.find(batch.user_id))%></td>
				<td><%= Lot.where(batch_id: batch.id).count %></td>
			</tr>
		<% end %>
	</table>
</div>
