<div class="data-entry-header">
	  <h2><i class="icon-time icon-white"></i> Recent Updated Samples <a href="#recent_lots" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	  </h2>
</div>
<p>The Last 10 addtions or updates to lots.</p>
<div id="recent_lots" class="collapse in">
	<table class="table table-hover">
	<tr>
		<th>Lot #</th>
		<th>Action</th>
		<th>By</th>
		<th>When</th>
	</tr>		
	<% PaperTrail::Version.order('id desc').limit(10).each do |v| %>
	    <tr> 
		    <td> <%= link_to v.item_id, edit_lot_path(v.item) %> </td>
		    <td> <%= v.event.to_s.humanize %>d</td>
		    <td> <%= link_to User.find(v.whodunnit.to_f).name.humanize, user_path(v.whodunnit) %></td>
		    <td> <%= time_ago_in_words(v.created_at) %> ago</td>
	    </tr>	    
	<% end %>		
	</table>
</div>