<div class="data-entry-header">
  <h2><i class="icon-signal icon-white"></i> Statistics <a href="#stats" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
  </h2>
</div>
<div id="stats" class="collapse in">
	Placeholder....
</div>