<div class="data-entry-header">
  <h2>Hello, <%= current_user.name %>! <a href="#user" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
  </h2>
</div>
<div id="user" class="collapse in display-none">
	<p>Currently signed in as: <%= current_user.email %> </p>
	<ul>
		<li>
		<%= link_to  signout_path, method: "delete" do %>
		 <i class="icon-off"></i>
		  Sign out
		 <%= render :partial => "layouts/hint", :locals => {:hint => "Logout of the LDMS."} %>
		<% end %>
		</li>
	</ul>
</div>