<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  For support or to request access please email <%= mail_to( "matthew.vontersch@york.ac.uk", "Matthew Von Tersch") %> (matthew.vontersch@york.ac.uk).
</p>