<div class="data-entry-header">    
	<h2>Actions <a href="#actions" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
	</h2>
</div>
<p>Actions related to this Batch.</p>
  
<div id="actions" class="collapse in display-none">
	<ul>
		<% if !Lot.where(batch_id: @batch.id).empty? %>
			<li>
				<%= link_to edit_multiple_lots_path(:lot_ids => lots.map(&:id)), :method => :post do %>
					<i class="icon-edit"></i>
					Update batch samples
					<%= render :partial => "layouts/hint", :locals => {:hint => "Update all samples currently associated with this batch at the same time."} %>
				<% end %>
			</li>
		<% end %>
		<li>
			<%= link_to batch_path(@batch, format: "csv") do %>
				<i class="icon-download-alt"></i>
				Download batch samples
				<%= render :partial => "layouts/hint", :locals => {:hint => "Download details as a CSV for all samples currently associated with this batch."} %>
			<% end %>
		</li>
	</ul>
</div>
