<div class="data-entry-header">
  <h2>Actions <a href="#options" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
  </h2>
</div>
<p>Options related to this lot.</p>

<div id="options" class="collapse in">
	<%= link_to @client do %>
	View Client contact details
	<% end %>
</div>