<div class="data-entry-header">
  <h2>Actions <a href="#options" data-toggle="collapse" class="pull-right  icon-resize-vertical icon-white"></a>
  </h2>
</div>
<p>Commonly used actions.</p>

<div id="options" class="collapse in">
	<%= link_to @client do %>
		View current client contact details
	<% end %>
	<br/>
	<%= link_to edit_lot_path(@lot) do %>
		Edit this Lot Number's details
	<% end %>
</div>