<% provide(:title, 'Update lot') %>
<h1>Lot Number: <%= @lot.id.to_s %></h1>

<div class="row">
  <div class="span5 offset0">

	<%= render 'lots/changelog' %>		
	<%= render 'lots/editactions' %>
	
 </div>
  <div class="span7 offset0">

	<%= render 'lots/editform' %>
	
  </div>
</div>