<% provide(:title, 'New Lot') %>
<h1>Generate a New Lot Number</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@lot, :html => { :class => "form-horizontal" }) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= render :partial => 'lots/form', :locals => { :f => f, :extra_btn => false, :collapse_in => true } %>
	  
  	  <%= render :partial => 'lots/batchsubmitbtns' %>
	  
    <% end %>
  </div>
</div>