<footer class="footer">
  <small>
    Lot Database Management System - An <a href="http://www.york.ac.uk/archaeology/">Archaeology</a> and <a href="http://york.ac.uk/">University of York</a> service.     
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>